*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.main{
    overflow-x: hidden;
    width:100vw;
    height: 100vh;
    display:grid;
    place-items: center;
    background-color: rgb(235, 233, 233);
}

.center{
    border-right: 3px solid rgb(0, 0, 0);
    border-left:3px solid rgb(0, 0, 0) ;
    position: relative;
    width: 20rem;
    height: 30rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 8px 48px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 8px 48px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 8px 48px 1px rgba(0,0,0,0.75);
}

.text{
    margin-top: 2.6rem;
    display: grid;
    place-items: center;
}

#title{
    letter-spacing: .1rem;
    text-transform:capitalize;
    color: rgb(37, 37, 37);
    font-size: 1.6rem;
    text-shadow: 1px 3px 20px rgba(0,0,0,0.36);
}

#title2{
    position: absolute;
    letter-spacing: .1rem;
    word-spacing: .2rem;
    color: rgb(163, 163, 163);
    margin-top: 2.5rem;
    margin-left: 5rem;
    font-size: 1rem;
    text-transform:capitalize;
}

.c-img{
    position: absolute;
    margin-left: 4rem;
    margin-top: 3rem;
}

.img{
    margin-left:.5rem;
    position: absolute;
    border-radius: 50%;
    width:11rem;
    margin-top: 1rem;
    height:11rem;
    box-shadow: 0px 6px 72px -7px rgba(0,0,0,0.41);
-webkit-box-shadow: 0px 6px 72px -7px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 6px 72px -7px rgba(0,0,0,0.41);
transition: transform .30s;
}

.img:hover{
    transform:scale(0.9);
}

.rotate{
    animation:rotate 3s linear infinite;
}

@keyframes rotate {
    from {transform:rotate(0deg) ;}
    to { transform: rotate(360deg);}
}

.controls{
    display: flex;
    justify-content: space-evenly;
    margin-top: 21.4rem;
}

#play{
    border-radius: 50%;
    margin-top: -1.2rem;
}

#play:hover{
    cursor: pointer;
    color: rgb(233, 71, 71);
}

#pre:hover{
    cursor: pointer;
    color: rgb(233, 71, 71);
}

#nex:hover{
    cursor: pointer;
    color: rgb(233, 71, 71);
}

.proc{
    border-radius: 500px;
    cursor: pointer;
    position:relative ;
    top: 18.5rem;
    left: 2rem;
    width: 16rem;
    height: .3rem;
    appearance: none;
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.56);
-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.56);
-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.56);
}

#pro{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

#pro:hover{
    background-color: rgb(10, 151, 151);
}